[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
trainsign = {file = ".", editable = true}

[dev-packages]
black = "*"
pytest = "*"
vcrpy = "*"
pytest-vcr = "*"
pytest-asyncio = "*"
ipython = "*"
ranger-fm = "*"

[requires]
python_version = "3.9"
